<html>
  <head>
    <link rel="SHORTCUT ICON" href="../static/img/address_logo.png">
    <style>
      * {
	   font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
      }
      body{
	background-color: #18ade0;
      }
      .logo {
      	background:url(../static/img/rsz_logo_full.png) no-repeat center center;
	width:408px;
	height:400px;
	margin:0 auto;
      }
      </style>
    <title>Moodio</title>
  </head>
  <body>
    <div class="logo"></div>
    {% block content %}{% endblock %}
  </body>
  </html>
