{% extends "base.html" %}
{% block content %}
<style>
  a{

  }
</style>
{% if form.twitter.data %}
<script src="https://www.rdio.com/api/api.js?helper=/static/helper.html&client_id=sGYQngWUORKHMSeH95T4jg">
</script>
<h1>Hi, {{form.twitter.data}}!</h1>
<h2>Your happiness level is: {{mood}}</h2>
<script>
  R.ready(function() {
  {% for song in tracks %}
  R.player.queue.add("{{ song }}");
  {% endfor %}
  R.player.play();
  });
  function play_previous(){
  R.player.previous();
  }
  function toggle_play(){
  R.player.togglePause();
  }
  function play_next(){
  R.player.next();
  }
</script>
<div class="buttons" align="center">
  <a href="#" onClick="play_previous()"><img src="../static/img/previous.png" /></a>
  <a href="#" onClick="toggle_play()"><img src="../static/img/play.png" /></a>
  <a href="#" onClick="play_next()"><img src="../static/img/next.png" /></a>
</div>
{% else %}
   <form action="" method="post" name="login">
      {{form.hidden_tag()}}
      <p>
      Please enter your Twitter Handle:<br>
      {{form.twitter}}
       </p>
       <p><input type="submit" value="Sign In"></p>
   </form>
{% endif %}
{% endblock %}

