{% extends "base.html" %}
{% block content %}
<style>
  a{
    margin: 0 10px 0 3px;
  }
      .gettwit, .buttons {
	color: white;
	height: 100px;
        width: 450px;
        text-align:center;
        margin: 0 auto;
      }
      input[type=text]
      {
	color: white;
        background: url(../static/img/twitter_holder.png);
        border: 0;
        font-size: 50px;
        height: 75px;
        width: 430px;
	margin-right: 0;
        padding-left:80px;
      } 
      input:focus
      {
        outline:none;
      }
</style>
{% if form.twitter.data %}
<script src="https://www.rdio.com/api/api.js?helper=/static/helper.html&client_id=sGYQngWUORKHMSeH95T4jg">
</script>
<script>
  R.ready(function() {
  {% for song in tracks %}
  R.player.queue.add("{{ song }}");
  {% endfor %}
  R.player.play();
  });
  function play_previous(){
    R.player.previous();
  }
  function toggle_play(){
    R.player.togglePause();
    document.getElementById("changer").src = "../static/img/play2.png";
  }
  function play_next(){
    R.player.next();
  }
</script>
<div class="buttons" align="center">
<h3>From your tweets, I see you are a {{mood}} person.<br>Here's your playlist.</h3>
  <a href="#" onClick="play_previous()"><img src="../static/img/previous2.png" /></a>
  <a href="#" onClick="toggle_play()"><img src="../static/img/pause2.png" id="changer"/></a>
  <a href="#" onClick="play_next()"><img src="../static/img/next2.png" /></a>
</div>
{% else %}
   <div class ="gettwit">
   <form action="" method="post" name="login" autocomplete="off">
      {{form.hidden_tag()}}
      <p>
      {{form.twitter}}
      </p>
      <p>
      Use Twitter to find your perfect playlist<br>
      </p>
   </form>
   </div>
{% endif %}
{% endblock %}

